$title-image: url('../images/lanscape.jpg');
$navBackground: #2d2d2d;
$sideBackground: #252526;
$quickLinksBackground: #333333;
$navHeight: 40px;
$contentColor : #1e1e1e;
$treeColor: #a9a9a9;

// text colors //
$purple: #ba86c0;
$blue: #36a3f0;
$orange: #ce916a;
$yellow: #dcdc9d;
$white: #c8d4d4;
$green: #4ec9a2;
$gray: #808080;